@model List<AdministradorWeb.Repositorio.HackatranExame>

@{
    Layout = null;
}

<style type="text/css">
    .grid-header {
        font-size: 14px !important;
    }

    .grid-body {
        font-size: 14px;
    }
</style>

<div class="card">
    <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
            <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title header-icons">Resultado da Pesquisa</h4>
    </div>

    <div class="card-body" style="font-size: small;">
        <div class="material-datatables">
            <table id="tblRelatorio" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="grid-header font-weight-bold w-30">NOME</th>
                        <th class="grid-header font-weight-bold w-10">CNH</th>
                        <th class="grid-header font-weight-bold w-10 text-center">CPF</th>
                        <th class="grid-header font-weight-bold w-10 text-center">DATA</th>
                        <th class="grid-header font-weight-bold w-20">LABORATÓRIO RESPONSÁVEL</th>
                        <th class="grid-header font-weight-bold w-10 text-center">RESULTADO</th>
                        <th class="grid-header font-weight-bold w-10 text-center">AÇÕES</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="text-uppercase">
                            <td class="grid-body w-30">@item.Nome</td>
                            <td class="grid-body w-10">@item.Cnh</td>
                            <td class="grid-body w-10 text-center">@item.Cpf</td>
                            <td class="grid-body w-10 text-center">@item.Data</td>
                            <td class="grid-body w-10">@item.Laboratorio</td>
                            @if (item.Resultado == true)
                            {
                                <td class="grid-body w-10 text-center text-success font-weight-bold">APROVADO</td>
                            }
                            else if (item.Resultado == false)
                            {
                                <td class="grid-body w-10 text-center text-danger font-weight-bold">REPROVADO</td>
                            }
                            else
                            {
                                <td class="grid-body w-10 text-center"></td>
                            }

                            <td class="grid-body w-10 text-center">
                                <span class="d-inline-flex">
                                    <button type="button" class="btn btn-link btn-info btn-just-icon" onclick="javascript: editar(@item.Id)">
                                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Editar">edit</i>
                                    </button>
                                    <button type="button" class="btn btn-link btn-danger btn-just-icon" onclick="javascript: excluir(@item.Id)">
                                        <i class="material-icons" data-toggle="tooltip" data-placement="top" title="Excluir">delete_forever</i>
                                    </button>
                                </span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>