@model AdministradorWeb.Repositorio.HackatranLaboratorio

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .pac-container {
        z-index: 10000 !important;
    }
</style>

<div id="divFiltro" class="card">
    <div class="card-header card-header-success card-header-icon">
        <div class="card-icon">
            <i class="material-icons">filter_list</i>
        </div>
        <h4 class="card-title header-icons">Filtro</h4>
    </div>

    <div class="card-body">
        <div class="col-md-12">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="ddlLaboratorio">Laboratórios</label>
                    @Html.DropDownList("ddlLaboratorio", new SelectList(Model.Laboratorios, "Value", "Text"), "Selecione o Laboratório", new { @class = "form-control seleciona" })
                </div>
                <div class="col-md-2 ml-5">
                    <button id="btnPesquisar" class="btn btn-warning botao-filtro ripple botao-filtro">Pesquisar</button>
                    <button id="btnIncluir" class="btn btn-warning botao-filtro" onclick="javascript: cadastrar();">Incluir</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="pnlConteudo" class="pt-1 d-none">
    <span id="divGrid"></span>
</div>

@Html.Partial("Modal")

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzvYG2MAc1kx8Ql72tO4UWOJMeIeVSQLw&libraries=places"></script>
<script type="text/javascript">
    var latitudeMarker;
    var longitudeMarker;

    $(document).ready(function () {
        pesquisar = function (_id) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("PesquisarLaboratorios")',
                data: {
                    id: _id,
                },
                success: function (dados) {
                    //$('#divResultado').html(dados);
                    //$('#divCardResultado').removeClass('d-none');

                    $('#divGrid').html(dados);
                    $('#tblRelatorio').DataTable({
                        "sPaginationType": "full_numbers",
                        "iDisplayLength": 10,
                        "lengthMenu": [[10, 25, 50], [10, 25, 50]],
                        "bDestroy": true,
                        "stateSave": false,
                        "order": [[1, "desc"]],
                        sDom: 'lrtip'
                    });

                    $("#pnlConteudo").removeClass("d-none");
                },
                error: function () {
                    $.notifyError('Ocorreu um erro ao realizar a pesquisa.');
                    return;
                }
            });

            return null;
        };

        cadastrar = function () {
            acao = 'cadastrar';
            $.ajax({
                type: "GET",
                url: "@Url.Action("Cadastrar")",
                success: function (response) {

                    framework.carregarModalMedium(response, "Credenciamento de Laboratório");

                },
                error: function () {
                    $.notifyError('Ocorreu um erro.');
                }
            });

            return false;
        };

        excluir = function (_id) {
            acao = 'excluir';

            $.ajax({
                type: "GET",
                data: { id: _id },
                url: "@Url.Action("Excluir")",
                success: function (result) {
                    if (result.success) {
                        $.notifySuccess(result.message)
                    } else {
                        $.notifyWarning(result.message)
                    }

                    pesquisar(null);
                },
                error: function () {
                    $.notifyError('Ocorreu um erro.');
                }
            });

            return false;
        };

        editar = function (_id) {
            acao = 'editar';

            $.ajax({
                type: "GET",
                data: { id: _id },
                url: "@Url.Action("Editar")",
                success: function (response) {

                    framework.carregarModalMedium(response, "Credenciamento de Laboratório");

                },
                error: function () {
                    $.notifyError('Ocorreu um erro.');
                }
            });

            return false;
        };

        salvar = function () {
            var result = validar();
            if (!result.success) {
                $.notifyWarning(result.mensagem);
                return;
            }

            var form = $(document.getElementById("frmLaboratorio"))

            framework.submeterForm(form, '/laboratorio/salvar', function (response) {
                if (response.success) {
                    $.notifySuccess(response.message);

                    framework.fecharModal();
                    pesquisar(null);

                    //$('#frmLaboratorio')[0].reset();
                    //marker.setMap(null);
                } else {
                    $.notifyWarning(response.message);
                }
            });

            return false;
        };

        validar = function () {
            var result = {};
            result.success = true;
            result.mensagem = "Existem dados inválidos ou não preenchidos<br>";

            if (!framework.valorValido($("#txtNome").val())) {
                result.success = false;
                result.mensagem += "<br>Informe o nome do laboratório.";
            }

            if (!framework.valorValido($("#txtEndereco").val())) {
                result.Valido = false;
                result.mensagem += "<br>Informe um endereço válido.";
            }

            if (!framework.valorValido($("#txtHorario").val())) {
                result.Valido = false;
                result.mensagem += "<br>Informe o horário de atendimento.";
            }

            return result;
        };

        pesquisar(null);
    });

    $('#btnPesquisar').click(function () {
        var id = $('#ddlLaboratorio').val();
        pesquisar(id);
    });

    $('#btnGravarModal').click(function () {
        salvar();
    });

</script>
<script type="text/javascript">
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: -15.83, lng: -47.86 },
            zoom: 5,
            streetViewControl: false,
            scrollwheel: true,
            clickableIcons: false,
            mapTypeControl: true,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [{ featureType: "poi", elementType: "labels", stylers: [{ visibility: "off" }] },
            {
                "featureType": "all",
                "elementType": "labels.text.fill",
                "stylers": [
                    {
                        "color": "#7c93a3"
                    },
                    {
                        "lightness": "-10"
                    }
                ]
            },
            {
                "featureType": "administrative.country",
                "elementType": "geometry",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "administrative.country",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#a0a4a5"
                    }
                ]
            },
            {
                "featureType": "administrative.province",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#62838e"
                    }
                ]
            },
            {
                "featureType": "landscape",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#dde3e3"
                    }
                ]
            },
            {
                "featureType": "landscape.man_made",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#3f4a51"
                    },
                    {
                        "weight": "0.30"
                    }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "simplified"
                    }
                ]
            },
            {
                "featureType": "poi.attraction",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.business",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "poi.government",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.place_of_worship",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.school",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "poi.sports_complex",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "all",
                "stylers": [
                    {
                        "saturation": "-100"
                    },
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#bbcacf"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "lightness": "0"
                    },
                    {
                        "color": "#bbcacf"
                    },
                    {
                        "weight": "0.50"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "labels",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "labels.text",
                "stylers": [
                    {
                        "visibility": "on"
                    }
                ]
            },
            {
                "featureType": "road.highway.controlled_access",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#ffffff"
                    }
                ]
            },
            {
                "featureType": "road.highway.controlled_access",
                "elementType": "geometry.stroke",
                "stylers": [
                    {
                        "color": "#a9b4b8"
                    }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "labels.icon",
                "stylers": [
                    {
                        "invert_lightness": true
                    },
                    {
                        "saturation": "-7"
                    },
                    {
                        "lightness": "3"
                    },
                    {
                        "gamma": "1.80"
                    },
                    {
                        "weight": "0.01"
                    }
                ]
            },
            {
                "featureType": "transit",
                "elementType": "all",
                "stylers": [
                    {
                        "visibility": "off"
                    }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                    {
                        "color": "#a3c7df"
                    }
                ]
            }
            ]
        });



        //var card = document.getElementById('pac-card');
        var input = document.getElementById('txtEndereco');

        //map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);
        autocomplete.setFields(['address_components', 'geometry', 'icon', 'name']);

        var icon = {
            url: "../images/hackatran/marcador.png",
            scaledSize: new google.maps.Size(38, 45)
        };

        marker = new google.maps.Marker({
            map: map,
            anchorPoint: new google.maps.Point(0, -29),
            draggable: true,
            visible: false,
            icon: icon,
        });


        //MARCADOR PARA CASO JA EXISTA COORDENDAS NA EDICAO
        if (acao == 'editar' && framework.valorValido(latitudeMarker) && framework.valorValido(longitudeMarker)) {
            var _coordenadas = new google.maps.LatLng(latitudeMarker, longitudeMarker);
            marker.position = _coordenadas;

            placeMarker(_coordenadas);
            map.panTo(_coordenadas);
        }



        map.addListener('click', function (mapsMouseEvent) {
            marker.setMap(null);

            var coordenada = mapsMouseEvent.latLng.toJSON();
            $('#txtLatitude').val(coordenada.lat);
            $('#txtLongitude').val(coordenada.lng);

            //coloca o marcado no mapa
            placeMarker(coordenada);

            //obtem endereco pela coordenada
            geocoder.geocode({
                'latLng': mapsMouseEvent.latLng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[0]) {
                        $('#txtEndereco').val(results[0].formatted_address);
                    }
                }
            });

        });

        function placeMarker(location) {
            marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: icon
            });
        };

        autocomplete.addListener('place_changed', function () {
            marker.setVisible(false);
            var place = autocomplete.getPlace();

            if (!place.geometry) {
                window.alert("Sem detalhes para visualizar: '" + place.name + "'");
                return;
            }

            if (place.geometry.viewport) {
                map.fitBounds(place.geometry.viewport);
            }
            else {
                map.setCenter(place.geometry.location);
                map.setZoom(17);
            }

            marker.setPosition(place.geometry.location);
            marker.setVisible(true);

            $('#txtLatitude').val(marker.getPosition().lat());
            $('#txtLongitude').val(marker.getPosition().lng());

            if (place.address_components) {
                address = [
                    (place.address_components[0] && place.address_components[0].short_name || ''),
                    (place.address_components[1] && place.address_components[1].short_name || ''),
                    (place.address_components[2] && place.address_components[2].short_name || '')
                ].join(' ');
            }

            google.maps.event.addListener(marker, 'dragend', function () {
                geocoder.geocode({ 'latLng': marker.getPosition() }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (results[0]) {
                            $('#txtEndereco').val(results[0].formatted_address);
                            $('#txtLatitude').val(marker.getPosition().lat());
                            $('#txtLongitude').val(marker.getPosition().lng());

                            zoomAtual = map.getZoom();

                            if (zoomAtual < 16) {
                                map.setCenter(marker.getPosition());
                                map.setZoom(16);
                            }
                            else {
                                map.setCenter(marker.getPosition());
                            }
                        }
                    }
                });
            });
        });

        geocoder = new google.maps.Geocoder();
    };
</script>